body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.menu {
  background: #EEE;
  border: 1px solid #888;
  width: 200px;
  display: block;
  position: absolute;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
}

.menu .item:hover {
  background: #F88;
  cursor: pointer;
}
